<mat-card *ngIf="response">
  <forgerock-customer-logo></forgerock-customer-logo>
  <form [formGroup]="form">
    <div *ngIf="response.logo" class="merchant-logo">
      <img src="{{ response.logo }}" onerror="this.style.display='none'" />
    </div>
    <div class="divider"></div>

    <app-account-checkbox
      [form]="form"
      [accounts]="response.accounts"
      [label]="'CONSENT.ACCOUNT.SELECT_ACCOUNT' | translate: { clientName: response.clientName }"
    ></app-account-checkbox>

    <div class="review-permissions">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ 'CONSENT.ACCOUNT.REVIEW_DATA' | translate }} </mat-panel-title>
          </mat-expansion-panel-header>
          <pre class="review-permissions-content">
            <app-account-permissions [permissions]="response.permissions"></app-account-permissions>
          </pre>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="consent-expiration-date" *ngIf="response.expiredDate">
      <span
        class="title"
        [translate]="'CONSENT.ACCOUNT.EXPIRE'"
        [translateParams]="{ client: response.clientName }"
      ></span>
      {{ response.expiredDate | forgerockDateFormat: 'dddd do MMMM, yyyy, HH:mm:ss' }}
    </div>

    <app-submit-box
      [loading]="_loading"
      [form]="form"
      [proceedLabel]="'COMPONENT.BUTTONS.PROCEED'"
      [cancelLabel]="'COMPONENT.BUTTONS.CANCEL'"
      (accept)="submit(true)"
      (deny)="submit(false)"
    ></app-submit-box>
  </form>
</mat-card>
